<%- include('partials/header.ejs') %>
<body>
  <%- include('partials/navbar.ejs') %>
  <div class="container">
    <div class="card">
      <div class="card-header dark">
        <h3>Realizar pergunta</h3>
      </div>
      <div class="card-body">
        <form action="">
          <label>Dúvida</label>
          <input class="form-control" type="text" placeholder="Título da sua dúvida" />
          <label> Descrição</label>
          <textarea
            class="form-control"
            placeholder="Descreva sua dúvida aqui"
          ></textarea>
          <div class="botton">
            <button class="btn btn-success">Tirar dúvida</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
<%- include('partials/footer.ejs') %>