body {
  background-color: #eceff1;
}
nav {
  height: 3.3rem;
  padding: 1px;
  margin-bottom: 4vh;
  font-size: 1.5em;
}

nav img {
  height: 30px;
}

.card-body textarea {
  height: 18rem;
  resize: none;  
}
.card-body textarea, input {
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.botton {
	text-align: right;
	font-size: 2rem;
}

@media screen and (max-width: 992px) {
  .card-body2 {
    height: 73vh;
  }
  .card-body textarea {
    height: 45vh;
  }
  .butao {
    text-align: right;
    margin-top: 1rem auto;
  }
}

@media screen and (max-width: 700px) {
  .card-body2 {
    height: 73vh;
  }
  .card-body textarea {
    height: 35vh;
  }
  .butao {
    text-align: right;
    margin-top: 1rem auto;
  }
}